<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--header css declarations-->
    <th:block th:replace="base :: W7CHead"/>
    <title>Resume Generator</title>

</head>
<body class="bg">
<!--Navigation bar-->
<div th:replace="base :: W7CNav"></div>

<div class="container" >
    <div class="row justify-content-center">
        <div class="col col-sm-10 form-group">
            <form action="#" th:action="@{/addexp2}" th:object="${newExp}" method="post">
                <input type="hidden" th:field="*{expId}"/>
                <input type="hidden" th:field="${currentPerson.personId}"/>
                <div class="col col-sm-12 form-group">
                    <h1>You're adding or editing a new experience item for <span th:text="${currentPerson.personFirstName}+' '+${currentPerson.personLastName}"/></h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-sm-6 form-group">
                        <label for="co">Company</label>
                        <input type="text" class="form-control" th:field="*{expCompany}" id="co" placeholder="Company" autofocus="autofocus"/>
                        <!--<span th:if="${#fields.hasErrors('company')}" th:errors="*{company}"/>-->
                    </div>
                    <div class="col col-sm-6 form-group">
                        <label for="exptitle">Title</label>
                        <input type="text" class="form-control" th:field="*{expTitle}" id="exptitle" placeholder="Job title"/>
                        <!--<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>-->
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-sm-6 form-group">
                        <label for="sdate">Start Date</label>
                        <input type="date" class="form-control" th:field="*{expStartDate}" id="sdate"/>
                        <!--<span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"/>-->
                    </div>
                    <div class="col col-sm-6 form-group">
                        <label for="edate">End Date</label>
                        <input type="date" class="form-control" th:field="*{expEndDate}" id="edate"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-sm-6 form-group">
                        <label for="duty1">Job Duty</label>
                        <input type="text" class="form-control" th:field="*{expFirstDuty}" id="duty1" placeholder="First duty"/>
                    </div>
                    <div class="col col-sm-6 form-group">
                        <label for="duty2">Job Duty</label>
                        <input type="text" class="form-control" th:field="*{expSecondDuty}" id="duty2" placeholder="Second duty"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="base :: W7CJS"></th:block>
</body>
</html>