<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Signup</title>

    <th:block th:replace="base :: W7CHead"></th:block>
</head>
<body>
<th:block th:replace="base :: W7CNav"></th:block>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-10">
            <h2>Welcome new user!</h2>
            <form action="#" th:action="@{/signup}" th:object="${newuser}" method="post">
                <div class="row justify-content-center">
                    <div class="col col-sm-6 form-group">
                        <input type="hidden" th:field="*{secUserId}"/>
                        <label for="fname">First Name: </label>
                        <input type="text" class="form-control" th:field="*{firstName}" id="fname" placeholder="Jane"
                               autofocus="autofocus"/>
                        <!--<span th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}"/>-->

                    </div>
                    <div class="col col-sm-6 form-group">
                        <label for="lname">Last Name: </label>
                        <input type="text" class="form-control" th:field="*{lastName}" id="lname" placeholder="Doe"/>
                        <!--<span th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}"/>-->
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-sm-12 form-group">
                        <label for="email">Email Address: </label>
                        <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="jane@doe.com"/>
                        <!--<span th:if="${#fields.hasErrors('gradYear')}" th:errors="*{gradYear}"/>-->
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-sm-6 form-group">
                        <!--<label for="uname">User Name: </label>-->
                        <label>User Name: </label>
                        <input type="text" class="form-control" th:field="*{username}"/>
                        <!--<span th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}"/>-->

                    </div>
                    <div class="col col-sm-6 form-group">
                        <label>Password: </label>
                        <!--<label for="pass">Password: </label>-->
                        <input type="password" class="form-control" th:field="*{password}"/>
                        <!--<span th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}"/>-->
                    </div>
                </div>
                <div class="row justify-content-center">

                    <div class="col col-sm-6 form-group">
                        <label>I am a: </label>
                        <select name="selectrole">
                            <option value="RECRUITER">Recruiter</option>
                            <option value="JOBSEEKER">Job seeker</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div><!-- /.container -->

<th:block th:replace="base :: W7CJS"></th:block>
</body>
</html>