<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--header css declarations-->
    <th:block th:replace="base :: W7CHead"/>
    <title>Resume Generator</title>
</head>
<body class="bg">
<!--Navigation bar-->
<div th:replace="base :: W7CNav"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-8">
            <h1>You've added a new education item for <span th:text="${currentPerson.personFirstName}+' '+${currentPerson.personLastName}"/></h1>
            <table class="table">
                <thead>
                <tr>
                    <th>School</th>
                    <th>Degree</th>
                    <th>Graduation Year</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${newEducation.educationSchoolName}"></td>
                    <td th:text="${newEducation.educationDegree}"></td>
                    <td th:text="${newEducation.educationGradYear}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary" th:href="@{/addeducation/{id}(id=${currentPerson.personId})}" role="button">Add another school</a>

    </div>
</div>

<th:block th:replace="base :: W7CJS"></th:block>

</body>
</html>