<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--header css declarations-->
    <th:block th:replace="base :: W7CHead"/>
    <title>Resume Generator</title>
</head>
<body class="bg">
<!--Navigation bar-->
<div th:replace="base :: W7CNav"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-8">
            <h1>You've added a new experience item for <span th:text="${currentPerson.personFirstName}+' '+${currentPerson.personLastName}"/></h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>First Duty</th>
                    <th>Second Duty</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${newExp.expCompany}"></td>
                    <td th:text="${newExp.expTitle}"></td>
                    <td th:text="${newExp.expStartDate}"></td>
                    <td th:text="${newExp.expEndDate}"></td>
                    <td th:text="${newExp.expFirstDuty}"></td>
                    <td th:text="${newExp.expSecondDuty}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary" th:href="@{/addexp/{id}(id=${currentPerson.personId})}" role="button">Add another experience</a>
    </div>
</div>

<th:block th:replace="base :: W7CJS"></th:block>

</body>
</html>